html {
  color: #111;
  -webkit-font-smoothing: antialiased;
  font: 13px Georgia, serif;
  margin-left: 32px;
}

img {
  max-height: 80%;
}

.photo, .info {
  display: table-cell;
  vertical-align: middle;
  height: 90vh;
  padding-right: 40px;
}

.info {
  min-width: 350px;
}

.info a {
  display: block;
  padding-top: 13px;
}

br {
  display: block;
  margin: 13px 0;
}

h1, h2, h3 {
  font-weight: normal;
}

h1 {
  font-size: 19px;
}

h2 {
  font-size: 13px;
  font-style: italic;
}

a:link, a:active, a:visited {
  color: #888;
  text-decoration: none;
}

a:hover {
  color: #111;
}

.end {
  padding-right: 300px;
}

/*Link navigation*/

.link {
  position: fixed;
  top: 10px;
  right: 10px;
  padding: 0px 10px 5px 10px;
  width: 200px;
  border: 1px solid #282828;
  border-top: 10px solid #282828;
  background-color: rgba(255,255,255,.9);
  transition: .25s;
}

.link h2 {
  padding-bottom: 15px;
  border-bottom: 1px solid #E8E8E8;
}

.linkmin {
  transform: scale(.9);
  opacity: 0;
}

.link:hover {
  transform: scale(1);
  opacity: 1;
}

.link a {
  display: block;
  padding-bottom: 13px;
}

/*MOBILE*/

@media screen and (max-width: 600px) {
html, body {
  margin: 0;
  padding: 3px 0px 30px 0px;
}

img, video {
  width: 100%;
  padding: 0;
}

.photo {
  display: block;
  height: auto;
  padding: 20px 20px 0px 20px;
}

.portrait {
  width: 50%;
}

.info, .link {
  position: inherit;
  background-color: transparent;
  border: none;
  display: block;
  margin: auto;
  height: auto;
  min-width: auto;
  padding: 0px 0px 15px 0px;
  width: calc(100% - 40px);
  border-bottom: 1px solid #E8E8E8;
}

.link {
  padding: 0;
}

.links a, .info a {
  font-size: 19px;
}

.link a, .links a, .info a {
  font-size: 19px;
}

}
