html {
  background-color: white;
  color: #111;
  -webkit-font-smoothing: antialiased;
  font: 13px Georgia, serif;
  margin-left: 12px;
}

img {
  max-height: 80%;
}

.photo, .info, .links {
  display: table-cell;
  vertical-align: middle;
  height: 90vh;
  padding: 0px 20px 0px 20px;
}

.info, .links {
  min-width: 350px;
}

.links a, .info a {
  display: block;
  padding-top: 13px;
}

ol {
  padding-left: 13px;
}

li {
  padding-top: 13px;
}

br {
  display: block;
  margin: 13px 0;
}

h1, h2, h3 {
  font-weight: normal;
}

h1 {
  font-size: 19px;
}

h2 {
  font-size: 13px;
  font-style: italic;
}

a:link, a:active, a:visited{
    color: #888;
    text-decoration: none;
}

a:hover {
  color: #111;
}

@media screen and (max-width: 600px) {
html, body {
  margin: 0;
  padding: 3px 0px 30px 0px;
}

img, video {
  width: 100%;
  padding: 0;
}

.photo {
  display: block;
  height: auto;
  padding: 20px 20px 0px 20px;
}

.portrait {
  width: 50%;
}

.info, .links {
  display: block;
  margin: auto;
  height: auto;
  min-width: auto;
  padding: 0px 0px 15px 0px;
  width: calc(100% - 40px);
  border-bottom: 1px solid #E8E8E8;
}

.links a, .info a {
  font-size: 19px;
}
}

::-webkit-scrollbar {
  height: 13px;
    }
::-webkit-scrollbar-thumb {
    background: #ccc;
}
