html {
  background-color: #141414;
  color: white;
  font-smooth: never;
  -webkit-font-smoothing: antialiased;
  font-family: Georgia, serif;
  font-size: 13px;
}

img {
  max-height:80%;
}

.photo {
  display: table-cell;
  vertical-align: middle;
  height: 90vh;
  width: 100%;
  text-align: center;
  padding: 20px;
}

.info {
  display: table-cell;
  vertical-align: middle;
  min-width: 300px;
  height: 90vh;
  text-align: left;
  padding: 20px;
  width: 100%;
}

h1 {
  font-size: 20px;
  font-weight: normal;
}

hr {
  border: none;
  border-top: 1px solid white;
}

a:link {
    color: white;
}

a:visited {
    color: white;
}

a:hover {
    color: white;
    text-decoration: none;
}

a:active {
    color: red;
}
