@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700);
@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:400);
html {
  background-color: white;
  font-smooth: never;
  -webkit-font-smoothing: antialiased;
}
body {
  font-family: Georgia, serif;
  line-height: 1.5;
  margin: 0;
  /*-webkit-font-smoothing: antialiased;*/
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
img {
  transition: all .2s;
}
.flex {
  width: 500px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: auto;
}
.fullscreen {
  display: block;
  height: 100vh;
  width: 100vw;
  max-width: 100%;
  margin: auto;
  overflow: auto;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  background: url(img/6.jpg) no-repeat center center;
  background-size: cover;
}
/*.fullscreenii {
  display: block;
  height: 100vh;
  width: 30vw;
  max-width: 100%;
  margin: auto;
  overflow: auto;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  background: url(img/coverart.jpg) no-repeat center center;
  background-size: cover;
}*/

.infoii {
  color: white;
}
.fullscreeniii {
  display: block;
  height: 100vh;
  width: 100vw;
  max-width: 100%;
  margin: auto;
  overflow: hidden;
  text-align: center;
  /*background: url(img/bluebird.JPG) no-repeat center top;
  background-size: cover;
  background-color: pink;
  background-blend-mode: overlay;*/
}
.flexdisplay a:link {
  color: blue;
  text-decoration: none;
  transition: .2s;
}
.flexdisplay a:hover {
  background-color: yellow;
  text-decoration: none;
  transition: .2s;
}
.flexdisplay a:visited {
  color: blue;
  text-decoration: none;
  transition: .2s;
}
.end a:link {
  color: black;
  text-decoration: none;
  transition: .2s;
}
.end a:visited {
  color: black;
  text-decoration: none;
}
.end a:hover {
  color: salmon;
  text-decoration: none;
}
.end {
  display: block;
  text-align: center;
  width: 100%;
  margin: auto;
  padding-bottom: 30px;
}
.flexdisplay p {
  margin: 50px;
  width: 500px;
  padding: 50px;
  margin: auto;
}
.info {
  width: 290px;
  text-align: left;
  padding: 50px;
  color: white;
}
marquee {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  font-size: 50px;
  text-align: center;
  font-style: italic;
  color: salmon;
  /*transform: rotate(-45deg);*/
}
#playandpause {
  font-size: 20px;
  width: 20px;
}
.info a:link {
  color: white;
}
.info a:visited {
  color: white;
}
.info a:hover {
  color: white;
  text-decoration: none;
}
h1 {
  display: inline;
  font-size: 20px;
  font-family: Helvetica, sans-serif;
  position: absolute;
  color: white;
  font-weight: 400;
  margin-top: 0;
  padding: 50px;
}
.info p:nth-of-type(1):first-letter {
  float: left;
  font-family: Georgia, serif;
  font-size: 90px;
  line-height: 60px;
  margin-right: 8px;
  margin-top: 8px;
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  padding: 22px;
  border: 1px solid white;
  color: white;
}
.playbutton {
  display: inline;
  border: none;
  background-color: transparent;
  outline: none;
  color: black;
  transition: .2s;
}
hr {
  max-width: 500px;
}
.playbutton:hover {
  cursor: pointer;
  color: gray;
}
#waveform {
  width: 450px;
  margin: auto;
}
.typed-cursor {
  opacity: 1;
  -webkit-animation: blink 1s 7;
  -moz-animation: blink 1s 7;
  animation: blink 1s 7;
  animation-fill-mode: forwards;
}
@keyframes blink {
  0% {
    opacity: 0;
  }
  48% {
    opacity: 0;
  }
  49% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  99% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.element {
  display: inline;
  padding-left: 5px;
}
