<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>public.glyphOrder</key>
  <array>
    <string>.notdef</string>
    <string>a</string>
    <string>p</string>
    <string>t</string>
    <string>N</string>
    <string>u</string>
    <string>n</string>
    <string>b</string>
    <string>d</string>
    <string>h</string>
    <string>A</string>
    <string>B</string>
    <string>C</string>
    <string>D</string>
    <string>E</string>
    <string>F</string>
    <string>G</string>
    <string>H</string>
    <string>I</string>
    <string>J</string>
    <string>K</string>
    <string>L</string>
    <string>M</string>
    <string>O</string>
    <string>P</string>
    <string>Q</string>
    <string>R</string>
    <string>S</string>
    <string>T</string>
    <string>U</string>
    <string>V</string>
    <string>W</string>
    <string>X</string>
    <string>Y</string>
    <string>Z</string>
    <string>bracketleft</string>
    <string>backslash</string>
    <string>bracketright</string>
    <string>asciicircum</string>
    <string>underscore</string>
    <string>grave</string>
    <string>c</string>
    <string>e</string>
    <string>f</string>
    <string>g</string>
    <string>i</string>
    <string>j</string>
    <string>k</string>
    <string>l</string>
    <string>m</string>
    <string>o</string>
    <string>q</string>
    <string>r</string>
    <string>s</string>
    <string>v</string>
    <string>y</string>
    <string>w</string>
    <string>space</string>
    <string>one</string>
    <string>comma</string>
    <string>quotesingle</string>
    <string>period</string>
    <string>z</string>
    <string>x</string>
    <string>two</string>
  </array>
</dict>
</plist>
